<template>
    <div class="row col-md-12 ">
        <div class="col-md-8 whole">
            <div class="put_top">
            <h3 class=" mb-4  title_font">
                Congestive Electric Commerce Research Group
            </h3>
            <p class="text-ellipsis">In the "Cognitive E-commerce Research Group," systems are being designed and developed in the field of e-commerce that have the capability to acquire implicit knowledge such as user behaviors, preferences, decision-making processes, personal characteristics, personality, and user emotions without direct user involvement. These systems, by incorporating this understanding into user services, aim to improve user satisfaction and loyalty, as well as increase company profitability.
                This process is called "User Cognitive Modeling." Considering that many users do not explicitly declare their features and characteristics, the goal of "User Cognitive Modeling" is to implicitly understand users and gain knowledge about their behaviors, decision-making processes, personality, interests, emotions, and other characteristics without direct user intervention. These models will be derived by analyzing data from user interactions and utilizing artificial intelligence methods, especially machine learning.
                Cognitive models can be used for personalized services, recommendation systems, providing suggestions in social networks, personalizing marketing, designing user interfaces, improving user experience, and other objectives. This interdisciplinary field lies between "E-commerce," "Human-Computer Interaction," "Artificial Intelligence and Data Science," and "Cognitive Sciences."
                The achievements of this research group will be applied practically through e-commerce systems with cognitive user modeling capabilities and will also be disseminated through scientific publications in reputable conferences and journals.</p>

                    <button class="custom-button">More</button>

    
                
            </div>
        </div>

        <div class="col-sm-12 col-md-12 row mt-2">
            <div class="col-md-12">
                <Post v-for="post in posts" :key="post.id" :post="post"/>
            </div>
        </div>
        <Pagination :meta="pagination" @changed="paginate"></Pagination>
    </div>
</template>

<script>
    import Post from "../../components/Post";
    import Pagination from "../../components/Pagination";
    export default {
        name: "PostsIndex",
        components: { Pagination, Post },
        data() {
            return {
                posts: [],
                endpoint: "/api/posts",
                pagination: {}
            }
        },
        created() {
            this.loadPosts(this.getEndpoint(this.$route.query.popular));
            document.title = "SPA Blog"
        },
        methods: {
            loadPosts(endpoint) {
                axios.get(endpoint)
                    .then(({data : posts}) => {
                        this.pagination = posts.meta;
                        this.posts = posts.data;
                    })
                    .catch(error => console.log(error.response));

            },
            getEndpoint(popular = null)  {
               return popular !== null ? `${this.endpoint}?popular=1` : this.endpoint;
            },
            paginate(page) {
                let endpoint = `${this.endpoint}?page=${page}`;
                this.loadPosts(endpoint);
            }
        },
        watch: {
            '$route.query'(newQuery, oldQuery) {
                let endpoint = this.getEndpoint(newQuery.popular);
                this.loadPosts(endpoint);
            }
        }
    }
</script>

<style scoped>

.title_font{
    font-size: 34pt;
}
.put_top{
    position: relative;
    top: 35%;
    transform: translateY(-50%);
}
.whole{
    height: 100vh;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show */
    -webkit-box-orient: vertical;
    max-height: 6em; 
}
.custom-button {
    display: flex;
    height: 48px;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border: none;
    border-radius: 4px;
    background: #1A1C1F;
    color: white;
    cursor: pointer;
}

</style>